@import url("./cabecalho.css");
@import url("./conteudo.css");

html {
    font-size: 62.7%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 629px) {
    .cabecalho{
        flex-direction: column;
    }
    .cabecalho nav {
        flex-wrap: nowrap;
    }
    .cabecalho a {
        font-size: 2rem;
        padding: 10% 0;
    }
}